{% extends 'posts/base_final.html' %}
{% block content %}
<div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                 <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Comment</button>
                </li>
              </ul>
                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">{{ form.comment.label_tag}}</label>
                      <div class="col-md-8 col-lg-9">
                        {{ form.comment}}
                        <div class="pt-2">
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                       <input class="btn btn-primary text-center btn-lg" type="submit" value="Save Changes"  >
                    </div>
                  </form>
                </div>
              </div><!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
{% endblock content %}
